name: Build Pipeline

on: [push]

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      LOGSIGHT_LIB_VERSION: v1.3.0
    steps:
      - name: Check out the repo
        uses: actions/checkout@v3
        with:
          lfs: 'true'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install flake8 pytest pytest-cov
          pip install "git+https://${{ secrets.MACHINE_ACCESS_TOKEN }}@github.com/aiops/logsight.git@$LOGSIGHT_LIB_VERSION"
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
      - name: Lint with flake8
        run: |
          # stop the build if there are Python syntax errors or undefined names
          flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
          flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

      - name: Test with pytest
        run: |
          py.test --junitxml test-report.xml --cov-report xml:coverage-report.xml --cov=logsight_pipeline tests/
          
      - name: SonarCloud Scan
        uses: sonarsource/sonarcloud-github-action@master
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          args: >
            -Dsonar.projectKey=aiops_logsight-pipeline
            -Dsonar.python.version=3
            -Dsonar.organization=logsight
            -Dsonar.sources=logsight_pipeline -Dsonar.tests=tests/.
            -Dsonar.inclusions="**/*.py"
            -Dsonar.python.coverage.reportPaths=coverage-report.xml
            -Dsonar.test.reportPath=test-report.xml
        